
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ACCUEIL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a class="nav-item nav-link active" routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a class="nav-item nav-link" routerLink="appareils">Appareils</a></li>
        <li routerLinkActive="active" ><a class="nav-item nav-link" routerLink="edit">Nouvel appareil</a></li>
        <li routerLinkActive="active" ><a class="nav-item nav-link" routerLink="users">Utilisateur</a></li>
      </ul>
      <div class="navbar-right">
        <p>Vous êtes connéctés depuis {{ secondes }} secondes</p>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
